## 배추 가격 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df_배추 = pd.read_csv('배추 가격.csv')

C:\Users\bommy\anaconda3\envs\bommy\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_배추

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원)
0,21. 8. 5,배추,김장(가을)배추,대구북부도매,대구경북원예농협,강원,태백,567,48.5,27.48
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109,69.25
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30,27.14
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20,17.66
...,...,...,...,...,...,...,...,...,...,...
323523,14. 1. 3,배추,월동배추,서울가락도매,대아청과,전남,진도,449,19.0,8.53
323524,14. 1. 3,배추,월동배추,서울가락도매,한국청과,전남,진도,451,9.2,4.15
323525,14. 1. 3,배추,월동배추,서울가락도매,동화청과,전남,해남,364,9.0,3.28
323526,14. 1. 3,배추,월동배추,서울가락도매,대아청과,전남,신안,364,7.58,2.76
323527,14. 1. 3,배추,우거지,서울가락도매,대아청과,전남,해남,611,1.83,1.12

### 광역산지='강원'인 것만 추출

In [5]:
df_배추 = df_배추[df_배추['광역산지']=='강원']

In [6]:
df_배추

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원)
0,21. 8. 5,배추,김장(가을)배추,대구북부도매,대구경북원예농협,강원,태백,567,48.5,27.48
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109,69.25
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30,27.14
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20,17.66
...,...,...,...,...,...,...,...,...,...,...
323389,14. 1. 7,배추,쌈배추,서울가락도매,중앙청과,강원,평창,818,3.73,3.05
323404,14. 1. 7,배추,쌈배추,서울강서도매,서부청과,강원,홍천,913,1.6,1.46
323427,14. 1. 6,배추,쌈배추,서울가락도매,중앙청과,강원,평창,1082,4.13,4.47
323428,14. 1. 6,배추,쌈배추,서울가락도매,중앙청과,강원,홍천,1076,3.23,3.48
323517,14. 1. 3,배추,쌈배추,서울강서도매,서부청과,강원,홍천,821,2.05,1.68

### 거래량이 가장 높은 품종 선택

In [8]:
df_배추['품종'].unique()

array(['김장(가을)배추', '고냉지배추', '기타', '쌈배추', '월동배추', '봄배추', '여름배추', '우거지',
       '저장배추', '배추(일반)', '배추뿌리', '절임배추', '배추(수입)', '생채용 배추'], dtype=object)

In [9]:
df_배추.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56891 entries, 0 to 323517
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일자          56891 non-null  object
 1   품목          56891 non-null  object
 2   품종          56891 non-null  object
 3   시장          56891 non-null  object
 4   법인          56891 non-null  object
 5   광역산지        56891 non-null  object
 6   시군산지        56891 non-null  object
 7   도매가격(원/kg)  56891 non-null  object
 8   거래량(톤)      56891 non-null  object
 9   거래금액(백만원)   56891 non-null  float64
dtypes: float64(1), object(9)
memory usage: 4.8+ MB

In [10]:
# 거래량(톤) object->float 타입변경
df_배추['거래량(톤)']=pd.to_numeric(df_배추['거래량(톤)'],errors='coerce')

<ipython-input-10-8198fe7130b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_배추['거래량(톤)']=pd.to_numeric(df_배추['거래량(톤)'],errors='coerce')

In [11]:
print(df_배추[df_배추['품종']=='김장(가을)배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='고냉지배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='기타']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='쌈배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='월동배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='봄배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='여름배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='우거지']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='저장배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='배추(일반)']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='배추뿌리']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='절임배추']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='배추(수입)']['거래량(톤)'].sum())
print(df_배추[df_배추['품종']=='생채용 배추']['거래량(톤)'].sum())

156393.08999999997
211867.09000000003
96876.25700000001
37077.107
33903.82
57164.675
85069.37899999999
38.85
6319.5
6191.15
97.626
815.78
74.6
0.04

### 추출한 결과 고냉지배추

## 고냉지배추(가격)

In [13]:
# 품종이 '고냉지 배추'인 것만 추출
df_고냉지배추_price = df_배추[df_배추['품종']=='고냉지배추']

In [14]:
df_고냉지배추_price.head()

         일자  품목     품종      시장    법인 광역산지 시군산지 도매가격(원/kg)  거래량(톤)  거래금액(백만원)
1  21. 8. 5  배추  고냉지배추  서울가락도매  대아청과   강원   태백       935   108.89     101.86
2  21. 8. 5  배추  고냉지배추  서울가락도매  대아청과   강원   평창       635   109.00      69.25
3  21. 8. 5  배추  고냉지배추  서울가락도매  대아청과   강원   강릉       905    30.00      27.14
4  21. 8. 5  배추  고냉지배추  서울가락도매  서울청과   강원   태백       883    20.00      17.66
5  21. 8. 5  배추  고냉지배추  서울가락도매  대아청과   강원   정선       447    26.95      12.05

In [15]:
df_고냉지배추_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5214 entries, 1 to 316943
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일자          5214 non-null   object
 1   품목          5214 non-null   object
 2   품종          5214 non-null   object
 3   시장          5214 non-null   object
 4   법인          5214 non-null   object
 5   광역산지        5214 non-null   object
 6   시군산지        5214 non-null   object
 7   도매가격(원/kg)  5214 non-null   object
 8   거래량(톤)      5214 non-null   float64
 9   거래금액(백만원)   5214 non-null   float64
dtypes: float64(2), object(8)
memory usage: 448.1+ KB

### 도매가격(원/kg) object->float 타입변환

In [16]:
df_고냉지배추_price['도매가격(원/kg)']=pd.to_numeric(df_고냉지배추_price['도매가격(원/kg)'],errors='coerce')

<ipython-input-16-fe0e65bfef67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['도매가격(원/kg)']=pd.to_numeric(df_고냉지배추_price['도매가격(원/kg)'],errors='coerce')

In [17]:
df_고냉지배추_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5214 entries, 1 to 316943
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일자          5214 non-null   object
 1   품목          5214 non-null   object
 2   품종          5214 non-null   object
 3   시장          5214 non-null   object
 4   법인          5214 non-null   object
 5   광역산지        5214 non-null   object
 6   시군산지        5214 non-null   object
 7   도매가격(원/kg)  5214 non-null   int64
 8   거래량(톤)      5214 non-null   float64
 9   거래금액(백만원)   5214 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 448.1+ KB

### 일별 도매가격(원/kg) 평균 구하기

In [18]:
# 시계열 데이터로 만들기 위해 일별 도매가격(원/kg)평균 구하기
df_고냉지배추_price['일별 도매가격(원/kg) 평균']= df_고냉지배추_price.groupby(['일자'])['도매가격(원/kg)'].transform('mean')

<ipython-input-18-af36c56f40e9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['일별 도매가격(원/kg) 평균']= df_고냉지배추_price.groupby(['일자'])['도매가격(원/kg)'].transform('mean')

In [19]:
df_고냉지배추_price.head()

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529

### 일별 거래금액(백만원) 평균 구하기

In [21]:
# 시계열 데이터로 만들기 위해  일별 거래금액(백만원) 평균 구하기
df_고냉지배추_price['일별 거래금액(백만원) 평균']= df_고냉지배추_price.groupby(['일자'])['거래금액(백만원)'].transform('mean')

<ipython-input-21-e8771a3a3137>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['일별 거래금액(백만원) 평균']= df_고냉지배추_price.groupby(['일자'])['거래금액(백만원)'].transform('mean')

In [22]:
df_고냉지배추_price

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529,17.697647
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529,17.697647
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529,17.697647
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529,17.697647
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529,17.697647
...,...,...,...,...,...,...,...,...,...,...,...,...
316332,14. 7. 24,배추,고냉지배추,서울가락도매,동화청과,강원,정선,718,9.50,6.82,828.666667,5.113333
316333,14. 7. 24,배추,고냉지배추,광주각화도매,광주중앙청과,강원,평창,900,0.30,0.27,828.666667,5.113333
316853,14. 7. 10,배추,고냉지배추,광주각화도매,광주중앙청과,강원,평창,624,0.51,0.32,624.000000,0.320000
316894,14. 7. 9,배추,고냉지배추,광주각화도매,광주중앙청과,강원,평창,581,0.32,0.19,581.000000,0.190000
316943,14. 7. 8,배추,고냉지배추,광주각화도매,광주중앙청과,강원,평창,500,0.38,0.19,500.000000,0.190000

### 일별 거래량(톤) 합 구하기

In [23]:
# 시계열 데이터로 만들기 위해 일별 거래량(톤) 합 구하기
df_고냉지배추_price['일별 거래량(톤) 합']= df_고냉지배추_price.groupby(['일자'])['거래량(톤)'].transform('sum')

<ipython-input-23-25fcde4d19c5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['일별 거래량(톤) 합']= df_고냉지배추_price.groupby(['일자'])['거래량(톤)'].transform('sum')

In [24]:
df_고냉지배추_price.head()

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529,17.697647,382.48
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529,17.697647,382.48
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529,17.697647,382.48
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529,17.697647,382.48
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529,17.697647,382.48

### 일자를 연도, 월, 일 로 분리

In [25]:
df_고냉지배추_price['연도'] = df_고냉지배추_price['일자'].str.split('.').str[0]
df_고냉지배추_price['월'] = df_고냉지배추_price['일자'].str.split('.').str[1]
df_고냉지배추_price['일'] = df_고냉지배추_price['일자'].str.split('.').str[2]

<ipython-input-25-ea6da1896caf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['연도'] = df_고냉지배추_price['일자'].str.split('.').str[0]
<ipython-input-25-ea6da1896caf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['월'] = df_고냉지배추_price['일자'].str.split('.').str[1]
<ipython-input-25-ea6da1896caf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_고냉지배추_price['일'] = df_고냉지배추_price['일자'].str.split('.').str[2]

In [26]:
df_고냉지배추_price.head()

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529,17.697647,382.48,21,8,5
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529,17.697647,382.48,21,8,5
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529,17.697647,382.48,21,8,5
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529,17.697647,382.48,21,8,5
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529,17.697647,382.48,21,8,5

In [27]:
df_고냉지배추_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5214 entries, 1 to 316943
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   일자                5214 non-null   object
 1   품목                5214 non-null   object
 2   품종                5214 non-null   object
 3   시장                5214 non-null   object
 4   법인                5214 non-null   object
 5   광역산지              5214 non-null   object
 6   시군산지              5214 non-null   object
 7   도매가격(원/kg)        5214 non-null   int64
 8   거래량(톤)            5214 non-null   float64
 9   거래금액(백만원)         5214 non-null   float64
 10  일별 도매가격(원/kg) 평균  5214 non-null   float64
 11  일별 거래금액(백만원) 평균   5214 non-null   float64
 12  일별 거래량(톤) 합       5214 non-null   float64
 13  연도                5214 non-null   object
 14  월                 5214 non-null   object
 15  일                 5214 non-null   object
dtypes: float64(5), int64(1), object(10)
memory usage: 692.5+ KB

In [28]:
# 연도의 데이터 타입 변환
df_고냉지배추_price = df_고냉지배추_price.astype({'연도': 'int'})

In [29]:
df_고냉지배추_price['연도'] = df_고냉지배추_price['연도']+2000

In [30]:
df_고냉지배추_price.head()

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529,17.697647,382.48,2021,8,5
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529,17.697647,382.48,2021,8,5
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529,17.697647,382.48,2021,8,5
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529,17.697647,382.48,2021,8,5
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529,17.697647,382.48,2021,8,5

### (기상 데이터를 합치기 위해) 거래량이 가장 많은 시군산지 거르기

In [32]:
df_배추['시군산지'].unique()

array(['태백', '평창', '강릉', '정선', '횡성', '홍천', '인제', '춘천', '철원', '원주', '영월',
       '삼척', '양구', '화천', '동해', '양양', '강원고성', '속초'], dtype=object)

In [33]:
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='태백']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='평창']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='강릉']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='정선']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='횡성']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='홍천']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='인제']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='춘천']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='철원']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='원주']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='영월']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='삼척']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='양구']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='화천']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='동해']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='양양']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='강원고성']['거래량(톤)'].sum())
print(df_고냉지배추_price[df_고냉지배추_price['시군산지']=='속초']['거래량(톤)'].sum())

41915.229999999996
49910.899999999994
74425.93
20276.96
2643.42
4300.99
309.5
450.90999999999997
20.15
0.73
3430.0099999999998
13408.42
695.08
11.66
0.0
0.0
67.19999999999999
0.0

### 추출한 결과 '강릉'

In [34]:
df_고냉지배추_price.head()

,일자,품목,품종,시장,법인,광역산지,시군산지,도매가격(원/kg),거래량(톤),거래금액(백만원),일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일
1,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,태백,935,108.89,101.86,773.823529,17.697647,382.48,2021,8,5
2,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,평창,635,109.00,69.25,773.823529,17.697647,382.48,2021,8,5
3,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,강릉,905,30.00,27.14,773.823529,17.697647,382.48,2021,8,5
4,21. 8. 5,배추,고냉지배추,서울가락도매,서울청과,강원,태백,883,20.00,17.66,773.823529,17.697647,382.48,2021,8,5
5,21. 8. 5,배추,고냉지배추,서울가락도매,대아청과,강원,정선,447,26.95,12.05,773.823529,17.697647,382.48,2021,8,5

### 필요없는 컬럼 삭제

In [35]:
df_고냉지배추_price = df_고냉지배추_price.drop(['시장','법인','시군산지','도매가격(원/kg)','거래량(톤)','거래금액(백만원)'],axis=1)

In [36]:
df_고냉지배추_price

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일
1,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
2,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
3,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
4,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
5,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
...,...,...,...,...,...,...,...,...,...,...
316332,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24
316333,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24
316853,14. 7. 10,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10
316894,14. 7. 9,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9
316943,14. 7. 8,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8

### 중복제거

In [37]:
df_고냉지배추_price = df_고냉지배추_price.drop_duplicates()

In [38]:
df_고냉지배추_price

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일
1,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5
215,21. 8. 4,배추,고냉지배추,강원,782.600000,20.904667,430.32,2021,8,4
416,21. 8. 3,배추,고냉지배추,강원,883.714286,20.647857,305.32,2021,8,3
634,21. 8. 2,배추,고냉지배추,강원,685.444444,17.088889,420.13,2021,8,2
854,21. 7. 31,배추,고냉지배추,강원,865.111111,6.400000,61.56,2021,7,31
...,...,...,...,...,...,...,...,...,...,...
316293,14. 7. 25,배추,고냉지배추,강원,736.000000,6.990000,9.50,2014,7,25
316331,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24
316853,14. 7. 10,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10
316894,14. 7. 9,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9
316943,14. 7. 8,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8

## 고냉지 배추 (가격 + 생산량)

### 고냉지 배추 생산량 데이터 불러오기

In [40]:
df_고냉지배추_생산량 = pd.read_csv('고냉지 배추 생산량.csv',encoding='cp949')

In [41]:
df_고냉지배추_생산량

  광역산지    연도  고랭지배추:면적 (ha)  10a당 생산량 (kg)  생산량 (톤)
0   강원  2014           4579           3525   161410
1   강원  2015           4368           3129   136675
2   강원  2016           3940           3068   120879
3   강원  2017           4733           4814   227851
4   강원  2018           4986           4908   244705
5   강원  2019           4597           4756   218631
6   강원  2020              0              0        0

### 데이터 합치기

In [42]:
df_고냉지배추 = pd.merge(df_고냉지배추_price,df_고냉지배추_생산량,on=['광역산지','연도'],how='left')

In [68]:
df_고냉지배추.head()

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일,고랭지배추:면적 (ha),10a당 생산량 (kg),생산량 (톤)
0,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5,NaN,NaN,NaN
1,21. 8. 4,배추,고냉지배추,강원,782.600000,20.904667,430.32,2021,8,4,NaN,NaN,NaN
2,21. 8. 3,배추,고냉지배추,강원,883.714286,20.647857,305.32,2021,8,3,NaN,NaN,NaN
3,21. 8. 2,배추,고냉지배추,강원,685.444444,17.088889,420.13,2021,8,2,NaN,NaN,NaN
4,21. 7. 31,배추,고냉지배추,강원,865.111111,6.400000,61.56,2021,7,31,NaN,NaN,NaN

In [ ]:
df_고냉지배추.to_csv('고냉지배추(가격 + 생산량).csv',encoding='cp949')
# 고냉지 배추(가격 + 생산량).csv 저장 후 엑셀에서 DATE 함수 사용하여 '일시' 열 추가함.

In [87]:
df_고냉지배추 = pd.read_csv('고냉지배추(가격 + 생산량).csv',encoding='cp949')

## 고냉지 배추(가격 + 생산량 + 날씨)

### 고냉지 배추 날씨 데이터 불러오기

In [54]:
df_날씨 = pd.read_csv('강원도 날씨데이터.csv',encoding='cp949')

In [48]:
df_날씨=df_날씨.drop('Unnamed: 0',axis=1)

In [55]:
df_날씨.head()

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),연도,월,일
0,속초,2014-01-01,6.6,4.1,8.9,NaN,5.4,31.3,7.0,2014,1,1
1,속초,2014-01-02,4.0,-0.3,7.0,NaN,1.8,31.9,8.9,2014,1,2
2,속초,2014-01-03,6.6,2.4,9.4,NaN,3.0,40.0,4.4,2014,1,3
3,속초,2014-01-04,1.2,0.0,3.8,7.4,1.8,87.4,0.0,2014,1,4
4,속초,2014-01-05,0.4,-2.0,2.7,0.0,1.7,90.0,3.7,2014,1,5

### 지점명에서 '강릉'인 것만 추출

In [56]:
df_날씨_강릉 = df_날씨[df_날씨['지점명']=='강릉']

In [62]:
# 정제된 데이터 인덱스를 다시 0부터 설정
df_날씨_강릉 = df_날씨_강릉.reset_index(drop=True)

In [63]:
df_날씨_강릉.head()

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),연도,월,일
0,강릉,2014-01-01,5.8,2.2,8.1,0.0,3.3,32.6,6.1,2014,1,1
1,강릉,2014-01-02,4.7,0.0,8.1,NaN,2.4,25.6,8.7,2014,1,2
2,강릉,2014-01-03,6.6,1.8,10.6,NaN,3.2,29.9,3.1,2014,1,3
3,강릉,2014-01-04,1.0,0.1,2.8,9.0,1.3,85.4,0.0,2014,1,4
4,강릉,2014-01-05,1.0,-1.9,4.2,0.1,1.3,85.5,1.3,2014,1,5

In [65]:
# 고냉지배추(가격 + 생산량) 데이터가 2014-07-08 부터 있으므로 위치를 알아내기 위함.
df_날씨_강릉[df_날씨_강릉['일시']=='2014-07-08']

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),연도,월,일
188,강릉,2014-07-08,24.8,20.1,28.4,NaN,1.4,74.6,10.3,2014,7,8

In [66]:
# 고냉지배추(가격 + 생산량) 데이터가 2020-11-24 까지 있으므로 위치를 알아내기 위함.
df_날씨_강릉[df_날씨_강릉['일시']=='2020-11-24']

,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),연도,월,일
2519,강릉,2020-11-24,6.5,3.8,10.4,NaN,2.0,49.0,0.9,2020,11,24

### 2달간 평균 데이터 추출 (%배추의 생육기간 : 2달)

In [75]:
## 2달간 평균 데이터 추출

a=[]
e=[]

for i in range(128,2460):
    a.append(df_날씨_강릉.loc[i:i+60])

# print(e)

b=[]
for i in range(len(a)):
    b.append(a[i].mean())
    
# print(b)

    
c=pd.DataFrame(b[0]).T

for i in range(1,len(b)):
    d=pd.DataFrame(b[i]).T
    c = pd.concat([c,d])

c

c.to_csv('2달간 평균기후 데이터.csv',encoding='cp949')
# 2달간 평균기후 데이터.csv 저장 후 엑셀에서 '일시' 열 추가함.(2014-07-08부터 2020-11-24)

<ipython-input-75-abf1c7dc112c>:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  b.append(a[i].mean())

In [76]:
df_2달평균 = pd.read_csv('2달간 평균기후 데이터.csv',encoding='cp949')

In [79]:
df_2달평균

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),연도,월,일,일시
0,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623,2014.0,5.754098,15.754098,2014-07-08
1,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754,2014.0,5.786885,15.754098,2014-07-09
2,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557,2014.0,5.819672,15.754098,2014-07-10
3,21.767213,18.150820,25.619672,4.837500,1.955738,65.426230,5.688525,2014.0,5.852459,15.754098,2014-07-11
4,21.883607,18.313115,25.734426,5.026087,1.944262,65.460656,5.567213,2014.0,5.885246,15.754098,2014-07-12
...,...,...,...,...,...,...,...,...,...,...,...
2327,14.926230,10.640984,19.749180,5.210000,2.381967,58.762295,6.349180,2020.0,10.163934,15.754098,2020-11-20
2328,14.762295,10.472131,19.570492,5.210000,2.370492,58.722951,6.218033,2020.0,10.196721,15.754098,2020-11-21
2329,14.647541,10.359016,19.414754,5.210000,2.377049,58.427869,6.168852,2020.0,10.229508,15.754098,2020-11-22
2330,14.475410,10.193443,19.270492,5.488889,2.391803,57.772131,6.304918,2020.0,10.262295,15.754098,2020-11-23
2331,14.278689,9.990164,19.096721,3.625000,2.385246,57.159016,6.309836,2020.0,10.295082,15.754098,2020-11-24

### 필요 없는 컬럼 삭제

In [81]:
df_2달평균 = df_2달평균.drop(['연도','월','일'],axis=1)

In [82]:
df_2달평균

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),일시
0,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623,2014-07-08
1,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754,2014-07-09
2,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557,2014-07-10
3,21.767213,18.150820,25.619672,4.837500,1.955738,65.426230,5.688525,2014-07-11
4,21.883607,18.313115,25.734426,5.026087,1.944262,65.460656,5.567213,2014-07-12
...,...,...,...,...,...,...,...,...
2327,14.926230,10.640984,19.749180,5.210000,2.381967,58.762295,6.349180,2020-11-20
2328,14.762295,10.472131,19.570492,5.210000,2.370492,58.722951,6.218033,2020-11-21
2329,14.647541,10.359016,19.414754,5.210000,2.377049,58.427869,6.168852,2020-11-22
2330,14.475410,10.193443,19.270492,5.488889,2.391803,57.772131,6.304918,2020-11-23
2331,14.278689,9.990164,19.096721,3.625000,2.385246,57.159016,6.309836,2020-11-24

### 컬럼 이름 바꾸기

In [83]:
df_2달평균 = df_2달평균.rename(columns={'평균기온(°C)':'2달 평균기온(°C)'})
df_2달평균 = df_2달평균.rename(columns={'최저기온(°C)':'2달 평균최저기온(°C)'})
df_2달평균 = df_2달평균.rename(columns={'최고기온(°C)':'2달 평균최고기온(°C)'})
df_2달평균 = df_2달평균.rename(columns={'일강수량(mm)':'2달 평균강수량(mm)'})
df_2달평균 = df_2달평균.rename(columns={'평균 풍속(m/s)':'2달 평균 풍속(m/s)'})
df_2달평균 = df_2달평균.rename(columns={'평균 상대습도(%)':'2달 평균 상대습도(%)'})
df_2달평균 = df_2달평균.rename(columns={'합계 일조시간(hr)':'2달 평균 합계일조시간(hr)'})

In [84]:
df_2달평균

,2달 평균기온(°C),2달 평균최저기온(°C),2달 평균최고기온(°C),2달 평균강수량(mm),2달 평균 풍속(m/s),2달 평균 상대습도(%),2달 평균 합계일조시간(hr),일시
0,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623,2014-07-08
1,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754,2014-07-09
2,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557,2014-07-10
3,21.767213,18.150820,25.619672,4.837500,1.955738,65.426230,5.688525,2014-07-11
4,21.883607,18.313115,25.734426,5.026087,1.944262,65.460656,5.567213,2014-07-12
...,...,...,...,...,...,...,...,...
2327,14.926230,10.640984,19.749180,5.210000,2.381967,58.762295,6.349180,2020-11-20
2328,14.762295,10.472131,19.570492,5.210000,2.370492,58.722951,6.218033,2020-11-21
2329,14.647541,10.359016,19.414754,5.210000,2.377049,58.427869,6.168852,2020-11-22
2330,14.475410,10.193443,19.270492,5.488889,2.391803,57.772131,6.304918,2020-11-23
2331,14.278689,9.990164,19.096721,3.625000,2.385246,57.159016,6.309836,2020-11-24

In [86]:
df_고냉지배추

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일,고랭지배추:면적 (ha),10a당 생산량 (kg),생산량 (톤)
0,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5,NaN,NaN,NaN
1,21. 8. 4,배추,고냉지배추,강원,782.600000,20.904667,430.32,2021,8,4,NaN,NaN,NaN
2,21. 8. 3,배추,고냉지배추,강원,883.714286,20.647857,305.32,2021,8,3,NaN,NaN,NaN
3,21. 8. 2,배추,고냉지배추,강원,685.444444,17.088889,420.13,2021,8,2,NaN,NaN,NaN
4,21. 7. 31,배추,고냉지배추,강원,865.111111,6.400000,61.56,2021,7,31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,14. 7. 25,배추,고냉지배추,강원,736.000000,6.990000,9.50,2014,7,25,4579.0,3525.0,161410.0
695,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24,4579.0,3525.0,161410.0
696,14. 7. 10,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10,4579.0,3525.0,161410.0
697,14. 7. 9,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9,4579.0,3525.0,161410.0
698,14. 7. 8,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8,4579.0,3525.0,161410.0

### 데이터 합치기

In [88]:
df_고랭지배추_merge= pd.merge(df_고냉지배추,df_2달평균,on=['일시'],how='left')

In [90]:
df_고랭지배추_merge = df_고랭지배추_merge.drop('Unnamed: 0',axis=1)

In [91]:
df_고랭지배추_merge

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일,...,10a당 생산량 (kg),생산량 (톤),일시,2달 평균기온(°C),2달 평균최저기온(°C),2달 평균최고기온(°C),2달 평균강수량(mm),2달 평균 풍속(m/s),2달 평균 상대습도(%),2달 평균 합계일조시간(hr)
0,21. 8. 5,배추,고냉지배추,강원,773.823529,17.697647,382.48,2021,8,5,...,NaN,NaN,2021-08-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21. 8. 4,배추,고냉지배추,강원,782.600000,20.904667,430.32,2021,8,4,...,NaN,NaN,2021-08-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21. 8. 3,배추,고냉지배추,강원,883.714286,20.647857,305.32,2021,8,3,...,NaN,NaN,2021-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21. 8. 2,배추,고냉지배추,강원,685.444444,17.088889,420.13,2021,8,2,...,NaN,NaN,2021-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21. 7. 31,배추,고냉지배추,강원,865.111111,6.400000,61.56,2021,7,31,...,NaN,NaN,2021-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,14. 7. 25,배추,고냉지배추,강원,736.000000,6.990000,9.50,2014,7,25,...,3525.0,161410.0,2014-07-25,23.575410,20.149180,27.336066,5.603704,1.972131,66.034426,5.709836
695,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24,...,3525.0,161410.0,2014-07-24,23.577049,20.121311,27.290164,5.218519,1.988525,65.408197,5.724590
696,14. 7. 10,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10,...,3525.0,161410.0,2014-07-10,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557
697,14. 7. 9,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9,...,3525.0,161410.0,2014-07-09,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754
698,14. 7. 8,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8,...,3525.0,161410.0,2014-07-08,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623

## 데이터 정리하기

### 2021년 데이터 결측치가 많으므로 연도=2021에 해당하는 행 삭제

In [93]:
idx_nm_2021 =df_고랭지배추_merge[df_고랭지배추_merge['연도']==2021].index
df_고랭지배추_merge = df_고랭지배추_merge.drop(idx_nm_2021)

In [94]:
df_고랭지배추_merge

,일자,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일,...,10a당 생산량 (kg),생산량 (톤),일시,2달 평균기온(°C),2달 평균최저기온(°C),2달 평균최고기온(°C),2달 평균강수량(mm),2달 평균 풍속(m/s),2달 평균 상대습도(%),2달 평균 합계일조시간(hr)
34,20. 11. 24,배추,고냉지배추,강원,775.000000,0.450000,0.58,2020,11,24,...,0.0,0.0,2020-11-24,14.278689,9.990164,19.096721,3.625000,2.385246,57.159016,6.309836
35,20. 11. 20,배추,고냉지배추,강원,510.000000,0.550000,1.08,2020,11,20,...,0.0,0.0,2020-11-20,14.926230,10.640984,19.749180,5.210000,2.381967,58.762295,6.349180
36,20. 11. 19,배추,고냉지배추,강원,550.000000,0.310000,0.57,2020,11,19,...,0.0,0.0,2020-11-19,15.104918,10.813115,19.937705,5.210000,2.336066,58.781967,6.362295
37,20. 11. 18,배추,고냉지배추,강원,630.000000,0.450000,0.72,2020,11,18,...,0.0,0.0,2020-11-18,15.119672,10.877049,19.959016,4.933333,2.296721,58.755738,6.503279
38,20. 11. 16,배추,고냉지배추,강원,443.000000,0.640000,1.44,2020,11,16,...,0.0,0.0,2020-11-16,15.267213,11.104918,20.050820,4.933333,2.321311,58.267213,6.542623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,14. 7. 25,배추,고냉지배추,강원,736.000000,6.990000,9.50,2014,7,25,...,3525.0,161410.0,2014-07-25,23.575410,20.149180,27.336066,5.603704,1.972131,66.034426,5.709836
695,14. 7. 24,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24,...,3525.0,161410.0,2014-07-24,23.577049,20.121311,27.290164,5.218519,1.988525,65.408197,5.724590
696,14. 7. 10,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10,...,3525.0,161410.0,2014-07-10,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557
697,14. 7. 9,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9,...,3525.0,161410.0,2014-07-09,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754
698,14. 7. 8,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8,...,3525.0,161410.0,2014-07-08,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623

### 필요없는 컬럼 삭제

In [95]:
df_고랭지배추_merge = df_고랭지배추_merge.drop('일자',axis=1)

In [96]:
df_고랭지배추_merge

,품목,품종,광역산지,일별 도매가격(원/kg) 평균,일별 거래금액(백만원) 평균,일별 거래량(톤) 합,연도,월,일,고랭지배추:면적 (ha),10a당 생산량 (kg),생산량 (톤),일시,2달 평균기온(°C),2달 평균최저기온(°C),2달 평균최고기온(°C),2달 평균강수량(mm),2달 평균 풍속(m/s),2달 평균 상대습도(%),2달 평균 합계일조시간(hr)
34,배추,고냉지배추,강원,775.000000,0.450000,0.58,2020,11,24,0.0,0.0,0.0,2020-11-24,14.278689,9.990164,19.096721,3.625000,2.385246,57.159016,6.309836
35,배추,고냉지배추,강원,510.000000,0.550000,1.08,2020,11,20,0.0,0.0,0.0,2020-11-20,14.926230,10.640984,19.749180,5.210000,2.381967,58.762295,6.349180
36,배추,고냉지배추,강원,550.000000,0.310000,0.57,2020,11,19,0.0,0.0,0.0,2020-11-19,15.104918,10.813115,19.937705,5.210000,2.336066,58.781967,6.362295
37,배추,고냉지배추,강원,630.000000,0.450000,0.72,2020,11,18,0.0,0.0,0.0,2020-11-18,15.119672,10.877049,19.959016,4.933333,2.296721,58.755738,6.503279
38,배추,고냉지배추,강원,443.000000,0.640000,1.44,2020,11,16,0.0,0.0,0.0,2020-11-16,15.267213,11.104918,20.050820,4.933333,2.321311,58.267213,6.542623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,배추,고냉지배추,강원,736.000000,6.990000,9.50,2014,7,25,4579.0,3525.0,161410.0,2014-07-25,23.575410,20.149180,27.336066,5.603704,1.972131,66.034426,5.709836
695,배추,고냉지배추,강원,828.666667,5.113333,19.30,2014,7,24,4579.0,3525.0,161410.0,2014-07-24,23.577049,20.121311,27.290164,5.218519,1.988525,65.408197,5.724590
696,배추,고냉지배추,강원,624.000000,0.320000,0.51,2014,7,10,4579.0,3525.0,161410.0,2014-07-10,21.537705,17.901639,25.411475,4.704000,1.949180,65.834426,5.606557
697,배추,고냉지배추,강원,581.000000,0.190000,0.32,2014,7,9,4579.0,3525.0,161410.0,2014-07-09,21.381967,17.663934,25.318033,4.704000,1.952459,65.352459,5.714754
698,배추,고냉지배추,강원,500.000000,0.190000,0.38,2014,7,8,4579.0,3525.0,161410.0,2014-07-08,21.181967,17.434426,25.086885,3.754167,1.960656,64.878689,5.842623

In [ ]:
df_고랭지배추_merge.to_csv('cabbage_merge.csv',encoding='cp949')
## 엑셀에서 cabbage_merge.csv 오름차순 정리 및 컬럼 순서 정리